{{ define "main" -}}

<div class="post">
	{{ if isset .Params "image" }}
	<div class="post-image">
		<img src="{{ relURL .Params.image }}" {{ if isset .Params "imagetext" }}alt="{{ .Params.imagetext }}"{{ end }}>
	</div>
	{{ end }}
	<div class="author">
	{{ if eq .Site.Params.listAuthor true}}
	{{ if isset .Params "author" }}
		<p>
		{{ if isset .Params "authorlink" }}
		{{ i18n "authorpretext" }} <a href="{{ relURL .Params.authorlink }}" target="_blank" rel="noopener noreferrer">{{ .Params.author }}</a>
		{{ else }}
		{{ i18n "authorpretext" }} {{ .Params.author }}
		{{ end }}
		</p>
	{{ end }}
	{{ end }}
	</div>
	<div class="post-header">
	{{ if ne .Date.Year 1 }}
		<div class="meta">
			{{ if not .Params.nodate }}
			<div class="date">
				<span class="day">{{ dateFormat "02" .Date }}</span>
				<span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
			</div>
			{{ end }}
		</div>
		{{ end }}
		<div class="matter">
			<h1 class="title">{{ .Title }}</h1>
		</div>
	</div>
	<div class="markdown">
		{{ .Content }}
	</div>
	{{ if ne (in .Site.Params.disableTaxoTypes .Type) true }}
	{{ $pagename := .Page.Title }}
	{{ $notaxo := .Params.notaxonomy }}
	{{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
	{{ with index $.Params $taxonomyname }}
	{{ with ($.Site.GetPage (printf "/%s" $taxonomyname)) }}
	{{ if in $notaxo $taxonomyname }}
	{{ else }}
	<div class="tags">
		<div class="taxosfloating_left">
			<p>{{ $taxonomyname | humanize }}</p>
		</div>
		<div class="termsfloating_right">
			<p>
			{{ range $key, $value := $taxonomy }}
			{{ range $value.Pages }}
			{{ if eq .LinkTitle $pagename }}
			<a href="{{ relURL $taxonomyname }}/{{ $key }}/"> {{ $key }} </a>
			{{ end }}
			{{ end }}
			{{ end }}
			</p>
		</div>
		<div class="clearit"></div>
		{{ end }}
		{{ end }}
		{{ end }}
		{{ end }}
		{{ end }}
	</div>
	{{- if eq .Site.Params.comments.enabled true -}}
	{{- $.Scratch.Set "comments" true -}}
	{{- if and (isset .Params "type") (in .Site.Params.comments.disableOnTypes .Params.type) -}}
	{{- $.Scratch.Set "comments" false -}}
	{{- end -}}
	{{- if and (isset .Params "commentable") (eq .Params.commentable false) -}}
	{{- $.Scratch.Set "comments" false -}}
	{{- else if and (isset .Params "commentable") (eq .Params.commentable true) -}}
	{{- $.Scratch.Set "comments" true -}}
	{{- end -}}
	{{- if eq ($.Scratch.Get "comments") true -}}
	{{- partial "comments.html" . -}}
	{{- end -}}
	{{- end -}}
</div>
{{ end }}
